@import url('https://fonts.googleapis.com/css?family=Asap');
@import url('https://fonts.googleapis.com/css?family=Bellefair');

.page{
    height: 18%;
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 50px;
    font-family: 'Asap', sans-serif;
    letter-spacing: 2px;
    font-weight: 600;
    padding: 0px;
    top: 0%;
    margin: 0 !important;
    padding: 10px;
}

.paragraph {
    opacity: 0.75;
    height: 100%;
    background-color: white;
    color: black;
    font-family: 'Bellefair', serif;
    font-size: 25px;
    word-spacing: 10px;
    text-align: center;
    margin: 0 !important;
    padding: 20px;
}

.submitForm {
    left:33%;
    right:33%;
    top: 28%;
    opacity: 0.75;
    height: 70%;
    background-color: white;
    color: black;
    padding: 20px;
    position: absolute;
}

.leaderboard {
    left:25%;
    right:25%;
    top: 20%;
    opacity: 0.75;
    height: 70%;
    text-align: center;
    background-color: white;
    color: black;
    padding: 20px;
    position: absolute;
}

.login {
    left:33%;
    right:33%;
    top: 34%;
    text-align: center;
    opacity: 0.75;
    height: 32%;
    background-color: white;
    color: black;
    padding: 20px;
    position: absolute;
}
